@font-face {
  font-family: "GlacialIndifference";
  src: url("../fonts/GlacialIndifference-Regular.ttf");
  src: url("../fonts/GlacialIndifference-Regular.woff");
  src: url("../fonts/GlacialIndifference-Regular.woff2");
}
