* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "GlacialIndifference";
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.slider-wrapper {
  display: flex;
}

.slide {
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: all 0.5s;
  position: relative;
}

.slide.active {
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.slide-desc {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
  text-align: center;
  border-radius: 10px;
  padding: 10px 20px;
  width: 80%;
}

.slide img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.header-h2 {
  font-size: 50px;
  color: rgb(255, 0, 166);
}

.header-h1 {
  font-size: 71px;
  font-weight: bold;
  color: white;
}

.header-p {
  font-size: 23px;
  margin-bottom: 44px;
  color: white;
}

.header-social {
  font-size: 50px;
}

.header-link {
  color: blue;
}

.header-img {
  filter: brightness(50%);
}
.main {
  margin-top: 135px;
}

.section-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 65px;
  margin-bottom: 100px;
  margin-top: -200px;
  padding-right: 200px;
  padding-left: 200px;
}

.intro-left {
  max-width: 334px;
  text-align: right;
  transition: all 0.5s;
}

.intro-h1 {
  font-size: 40px;
  margin-bottom: 6px;
  color: black;
}

.intro-h2 {
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 33px;
}

.intro-text {
  font-size: 15px;
  margin-bottom: 60px;
  line-height: 26px;
}

.intro-button {
  padding: 13px 46px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: black;
}

.intro-button:hover {
  background-color: black;
}

.intro-center {
  max-width: 334px;
}

.intro-img {
  max-width: 330px;
}

.intro-right {
  max-width: 334px;
}

.intro-li {
  margin-bottom: 47px;
  list-style: none;
  font-size: 20px;
}

.intro-span {
  color: black;
}

.intro-li::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 10px solid #ffffff;
  margin-top: 15px;
}

.html::after {
  animation: html 2s linear forwards;
}

.css::after {
  animation: css 2s linear forwards;
}

.js::after {
  animation: js 2s linear forwards;
}

@keyframes html {
  0% {
    width: 0%;
    border-color: black;
  }
  50%,
  51% {
    width: 50%;
    border-color: black;
  }
  99%,
  100% {
    width: 100%;
    border-color: black;
  }
}

@keyframes css {
  0% {
    width: 0%;
    border-color: red;
  }
  50%,
  51% {
    width: 45%;
    border-color: red;
  }
  99%,
  100% {
    width: 60%;
    border-color: red;
  }
}

@keyframes js {
  0% {
    width: 0%;
    border-color: #00d023;
  }
  50%,
  51% {
    width: 15%;
    border-color: #00d023;
  }
  99%,
  100% {
    width: 30%;
    border-color: #00d023;
  }
}
.section-info {
  height: 210px;
  background-color: #131a36;
}

.section-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
}

.info-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.info-icon {
  font-size: 30px;
  width: 30px;
  height: 35px;
  border: 2px dashed white;
  border-radius: 50%;
  padding: 30px;
  margin-right: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.info-icon:hover {
  cursor: pointer;
  background-color: red;
  border: 2px solid red;
}

.info-h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.info-p {
  font-size: 14px;
}
.section-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 200px !important;
  margin-bottom: 160px;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.service {
  background-color: #f0f0f0;
  padding: 133px 50px;
  width: calc(25% - 30px);
  height: 360px;
  text-align: center;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.fa-bell::before {
  content: "\f085";
}

.fa-html5::before {
  content: "\f13b";
}

.fa-js::before {
  content: "\f3b9";
}

.service-h3 {
  font-size: 22px;
}

.service:hover {
  cursor: pointer;
  color: white;
  background-color: #15263e;
}

.service-icon {
  font-size: 60px;
}

.fa-bell::before {
  content: "\f085";
}

.fa-html5::before {
  content: "\f13b";
}

.fa-js::before {
  content: "\f3b9";
}

.service-h3 {
  font-size: 22px;
}

.service:hover {
  cursor: pointer;
  color: white;
  background-color: #15263e;
}
.comments-slider {
  max-width: 100%;
  height: 570px;
  position: relative;
  margin-bottom: 150px;
}

.comments-wrapper {
  background-color: #15263e;
  color: white;
  background-image: url("/src/img/background.jpg");
  opacity: 100%;
  max-height: 100%;
}

.comments-slide {
  padding: 200px 400px;
  display: none;
  align-items: center;
  gap: 50px;
}

.comments-slide.active {
  display: flex;
}

.comments-p {
  max-width: 400px;
  font-size: 14px;
  line-height: 30px;
}

.job {
  color: #e93656;
}
.comments-h3 {
  font-size: 28px;
  margin-top: 10px;
}

.comments-img {
  max-width: 150px;
  border-radius: 50%;
}

.comments-btns {
  width: 30px;
  padding: 20px 0;
  position: absolute;
  right: 20%;
  top: 40%;
}

#comments-button-1,
#comments-button-2,
#comments-button-3 {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 10px;
}

#comments-button-1:hover,
#comments-button-2:hover,
#comments-button-3:hover {
  border: 2px solid #e93656;
}
.projects-h2 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 55px;
  font-weight: bold;
  margin-top: 50px;
}

.projects-flex {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 170px;
}

.projects-left {
  width: 240px;
  height: 400px;
  background-color: #15263e;
}

.projects-right {
  width: 900px;
  height: 700px;
}

.projects-ul {
  margin-top: 40px;
}

.projects-li {
  list-style: none;
  text-align: center;
  line-height: 44px;
  color: white;
  font-size: 20px;
  transition: all 0.5s;
}

.projects-li:hover {
  cursor: pointer;
  color: #e93656;
}

.projects-right {
  color: white;
  font-size: 25px;
  display: grid;
  text-align: center;

  grid-template-areas:
    "1 2 3 "
    "4 5 6";
}

.project {
  width: 300px;
  height: 350px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.project img {
  width: 100%;
  height: 350px;
  transition: all 0.5s;
}

.project .projects-icon,
.project .projects-p {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project:hover {
  cursor: pointer;
  background-color: #15263e;
}

.project:hover .projects-icon,
.project:hover .projects-p {
  display: block;
  z-index: 1;
}

.project:hover img {
  filter: blur(3px);
}
.newsnevents {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #2ed279;
  margin-bottom: -10px;
}

.lastest {
  font-size: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.articles {
  text-align: center;
  align-items: center;
  margin-top: 80px;
}

.small {
  font-size: 48px;
}

.weekly {
  margin-top: 15px;
}

.weekly,
.small,
.small-text {
  margin-bottom: 20px;
}

.left-article {
  background-color: #fafafa;
  padding: 50px 50px;
  max-width: 700px;
  height: 500px;
}

.mid-article {
  background-color: #15263e;
  color: #e93656;
  width: 100px;
  padding-top: 35px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article-photo {
  max-width: 600px;
  height: 500px;
}

.articles-line {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -5px;
}

.article-logo-bulb {
  padding: 30px;
}

.section-six {
  margin-bottom: 150px;
}

.section-six {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-eight {
  margin-top: 150px;
}

.section-square {
  display: flex;
  justify-content: space-evenly;
}

.square {
  position: relative;
  margin: 10px;
}

.square-image {
  width: 220px;
  height: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.square-h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.square:hover .square-image {
  transform: scale(1.2);
  border: 3px solid transparent;
  border-color: purple;
}

.square:hover .square-h3 {
  opacity: 1;
}
.section-footer {
  margin-top: 100px;
}

.contact-me {
  margin-bottom: 5px;
  color: white;
  font-size: 42px;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form-row input,
#message {
  width: 220px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
  margin-right: 5px;
}

#message {
  height: 100px;
  width: 100%;
}

.touch {
  color: rgb(164, 164, 164);
  font-size: 16px;
}

.above-footer {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/map.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.send {
  display: block;
  margin-top: 20px;
  border: solid;
  border-color: #e93656;
  padding: 15px 30px;
  background-color: transparent;
  color: #e93656;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grey {
  color: #b3b3b3;
}

.upper-footer {
  background-color: #282828;
  height: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.all-info {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-logo {
  font-size: 55px;
  color: #ffffff;
  display: inline-block;
  font-weight: bolder;
}

.dot-2 {
  font-size: 105px;
  color: #e93656;
}

.final-icon {
  font-size: 40px;
  color: #12d1e6;
  margin-right: 10px;
  margin-top: 20px;
}

.down {
  margin-top: 12px;
}

.rights {
  color: #a0a8b7;
  background-color: #171717;
  height: 80px;
  padding-top: 30px;
}

.lower-footer {
  text-align: center;
}
@media (max-width: 768px) {
  .body {
    overflow-x: hidden;
  }
  .slide img {
    max-width: 100%;
    max-height: 100%;
  }
  .header-h1 {
    font-size: 10px;
  }
  .header-h2 {
    font-size: 5px;
  }
  .header-p {
    font-size: 5px;
  }
  .header-social {
    display: flex;
    flex-direction: column;
  }
  .intro-h1 {
    font-size: 15px;
  }
  .intro-text {
    font-size: 10px;
  }
  .section-info {
    flex-direction: column;
    height: auto;
  }

  .info-flex {
    flex-direction: column;
  }

  .section-services {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 100%;
    padding: 40px 20px;
    height: auto;
  }

  .comments-slider {
    height: auto;
  }
  .comments-btns {
    display: none;
  }
  .comments-wrapper {
    display: none;
  }
  .projects-h2 {
    font-size: 15px;
  }
  .projects-flex {
    flex-direction: column;
    gap: 20px;
  }

  .projects-left,
  .projects-right {
    width: 100%;
  }

  .projects-li {
    font-size: 16px;
  }
  .projects-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .article-photo {
    max-width: 50%;
    max-height: 50%;
  }
  .lastest {
    font-size: 15px;
    margin-top: 15px;
  }
  .newsnevents {
    font-size: 10px;
  }
  .articles-line {
    flex-direction: column;
    align-items: center;
  }
  .weekly {
    font-size: 10px;
  }

  .small {
    font-size: 15px;
  }
  .small-text {
    font-size: 10px;
    max-width: 150px;
  }

  .left-article,
  .mid-article {
    max-width: 100%;
    height: auto;
  }

  .section-six {
    padding: 20px;
  }

  .section-square {
    flex-direction: column;
    align-items: center;
  }
  .contact-me {
    font-size: 20px;
  }
  .touch {
    font-size: 10px;
  }
  .form-row {
    flex-direction: column;
    justify-content: space-between;
  }
  .main-logo {
    font-size: 20px;
    margin-top: -150px;
  }
  .rights {
    display: none;
  }
}
